//- mixins

mixin newsItem(title)
    li
        h3 #{title}
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
