- var pageTitle = 'Demo page'

doctype html
html

    include blocks/head-demo.pug
    include blocks/mixins.pug

    body

        // START HEADER
        include layouts/header.pug
        // END HEADER
        |
        |
        // START DEMO INDEX PAGE
        main
            //- here list to your demo page
            p It's a demo page
        // END DEMO INDEX PAGE
        |
        |
        // START FOOTER
        include layouts/footer.pug
        // END FOOTER
        |
        |
        // JS
        include blocks/scripts-demo.pug
