doctype html
html

    include demo/demo-head.pug
    include demo/demo-mixins.pug

    body

        // START HEADER
        include demo/demo-header.pug
        // END HEADER
        |
        |
        // START DEMO INDEX PAGE
        main
            //- here list to your demo page
        // END DEMO INDEX PAGE
        |
        |
        // START FOOTER
        include demo/demo-footer.pug
        // END FOOTER
        |
        |
        // JS
        include demo/demo-scripts.pug
