nav.menu-main
    a(href="/home-01.html") Home page ver. 01
    a(href="/home-02.html") Home page ver. 02
    a(href="/about.html") About
    a(href="/contacts.html") Contacts
    a(href="/news.html") News
    a(href="/service.html") Service
