block vars
    if !vars
        - var pageTitle = 'Page title'


doctype html
html

    include ../blocks/head-demo.pug
    include ../blocks/mixins.pug

    body

        // START HEADER
        include ../layouts/header.pug
        // END HEADER
        |
        |
        // START HOME PAGE
        block content
            if !content
                h1 Simple page from Alternate template
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure explicabo dolore ad laboriosam pariatur voluptates. Sequi fugiat beatae porro dolorem, voluptate autem veniam, quis facilis blanditiis doloribus delectus placeat. Eveniet!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam, doloribus totam a ratione recusandae id magni ab fugit error maiores, qui ducimus dolorem? Officiis vero optio cupiditate, accusantium id fugiat, perspiciatis sed expedita illum aut enim excepturi qui earum deserunt similique! Eveniet perferendis deleniti tempora asperiores repellendus optio cumque nemo aperiam, natus perspiciatis exercitationem possimus dicta eligendi quod error id. Dolorem modi ullam eaque accusamus inventore cupiditate tenetur nostrum totam illo perspiciatis corporis fugit quasi possimus qui pariatur alias ducimus, blanditiis animi in! Repudiandae, porro quod. Suscipit, eius perferendis molestias eveniet ipsa tenetur asperiores sed provident aliquid aut fugit, maxime illum odit corporis deserunt quod quis voluptatibus non accusantium repudiandae optio? Dolore aliquam consequuntur maxime, eum temporibus ipsam cumque aperiam fugit aut aliquid deleniti deserunt fugiat incidunt asperiores dignissimos voluptatem beatae ex ducimus, eligendi laborum doloribus. Eveniet expedita maxime sunt iure laborum nam corrupti optio neque, omnis consequuntur molestiae enim odio repudiandae natus aspernatur voluptas inventore? Asperiores commodi perspiciatis dolorum blanditiis tenetur molestiae voluptatum eveniet deleniti atque architecto, harum soluta nobis! Molestiae porro perferendis corrupti odio dolores provident inventore tempora dicta? Voluptates animi suscipit sed possimus ipsa, sit est! Nemo voluptatem illum, aliquid odio libero blanditiis repellat fugiat quis veniam rem tenetur id recusandae magnam porro incidunt quisquam possimus, similique deleniti, unde eaque nobis reprehenderit sapiente. Labore officiis nostrum eveniet mollitia quae sit commodi quisquam nobis, similique assumenda, fugiat et voluptatibus dolores? Hic suscipit sed officiis omnis soluta? Aspernatur nemo veritatis quasi aut tempora dolorum porro alias, eius architecto, deleniti enim, tempore fugiat. Tempora similique nostrum, ab aliquam temporibus enim blanditiis ad impedit quod odit asperiores facilis magni cum, voluptate neque autem ipsa sit. Placeat eius nihil excepturi harum esse quod dolorum. Omnis, repellendus.
        a(href="/") Back to demo list
        // END HOME PAGE
        |
        |
        // START FOOTER
        include ../layouts/footer.pug
        // END FOOTER
        |
        |
        // JS
        include ../blocks/scripts-demo.pug
