block vars
    if !vars
        - var pageTitle = 'Base'

doctype html
html(lang="en")
    head
        block head
            if !head
                include ../common/head-demo.pug
        include ../common/mixins.pug

    body

        .container
            // HEADER START
            include ../layouts/header.pug
            // HEADER END

            main
                block content

            // FOOTER START
            include ../layouts/footer.pug
            // FOOTER END

        // JAVASCRIPTS START
        include ../common/scripts-demo.pug
        // JAVASCRIPTS END
