* {
	-webkit-tap-highlight-color:transparent;
	outline: 0;
}

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[placeholder] {text-overflow:ellipsis;}
input::-moz-placeholder {text-overflow:ellipsis;}
input:-moz-placeholder {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder {color: transparent}
:focus:-moz-placeholder {color: transparent}
:focus:-ms-input-placeholder {color: transparent}

label {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

textarea {
	resize: vertical;
}

address {
	font-style: normal;
}

input:focus, textarea:focus {
	outline: none;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

// Text align
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}

// Floating
.float-left {float: left;}
.float-right {float: right;}
.float-none {float: none;}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    content: '';
    visibility: hidden;
}

.lte8 .clearfix {
    overflow: hidden;
    zoom: 1;
}

.clear {clear: both;}
