// sass-lint:disable no-misspelled-properties
* {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

input[placeholder] {text-overflow: ellipsis;}
input::-moz-placeholder {text-overflow: ellipsis;}
input:-moz-placeholder {text-overflow: ellipsis;}
input:-ms-input-placeholder {text-overflow: ellipsis;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder {color: transparent}
:focus:-moz-placeholder {color: transparent}
:focus:-ms-input-placeholder {color: transparent}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

address {
    font-style: normal;
}

input:focus,
textarea:focus {
    outline: none;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

// Text align
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}

// Floating
.float-left {float: left;}
.float-right {float: right;}
.float-none {float: none;}

.clearfix::after {
    display: block;
    height: 0;
    clear: both;
    content: '';
    visibility: hidden;
}

.lte8 {
    .clearfix {
        overflow: hidden;
        zoom: 1;
    }
}

.clear {clear: both;}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
    }
}
