extends ../templates/base.pug

block head
    include ../common/head-demo.pug

block vars
    - var pageTitle = 'About our company'

block content
    .about
        h1 About page
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quisquam, sequi nemo aperiam eius, obcaecati, aliquid voluptas necessitatibus ut natus optio reiciendis porro et labore maiores veniam repudiandae? Eveniet a cupiditate, nulla necessitatibus laudantium omnis molestiae voluptatum nesciunt aperiam, quasi exercitationem autem quam aliquid accusamus quo earum! Nesciunt, quam. Quia mollitia odit numquam voluptatibus omnis et, amet maxime consectetur quisquam nulla placeat architecto aliquid illo debitis maiores inventore corporis eligendi fugiat ut error ad consequatur? Aut, maxime doloremque non nulla sapiente soluta quod vero impedit?
