extends ../templates/default.pug

append vars
    - var pageTitle = 'Home page version 3'

append content
    main
        h1 Home page version 03
        p  Lorem, ipsum dolor sit amet consectetur adipisicing elit!
