extends ../templates/base.pug

block head
    include ../common/head-demo.pug

block vars
    - var pageTitle = 'Home page version 1'

block content
    h1 Home page version 01
    p  Lorem, ipsum dolor sit amet consectetur adipisicing elit!
