extends ../templates/default.pug

append vars
    - var pageTitle = 'News page'

append content
    main
        h1 Company news
        ul
            li
                h3 Lorem ipsum dolor sit!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
            li
                h3 Lorem ipsum dolor sit!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
            li
                h3 Lorem ipsum dolor sit!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
            li
                h3 Lorem ipsum dolor sit!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
            li
                h3 Lorem ipsum dolor sit!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nisi labore architecto repellendus ab quo molestias maxime perferendis id, soluta error dolor inventore voluptatem suscipit debitis sed! Provident, voluptas harum.
