extends ../templates/base.pug

block head
    include ../common/head-demo.pug

block vars
    - var pageTitle = 'News page'

block content
    h1 Company news
    ul
        +newsItem('Lorem ipsum doler!')
        +newsItem('Consectetur adipisicing elit.')
        +newsItem('Dolor consequuntur?')
        +newsItem('Qui excepturi dolorem.')
        +newsItem('Dolore autem pariatur.')
        +newsItem('Itaque laborum?')
