extends ../templates/base.pug

block head
    include ../common/head-demo.pug

block vars
    - var pageTitle = 'Service for customer'

block content
    h1 Service page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eos quibusdam animi vitae sunt laudantium consectetur corrupti sed alias voluptatum, beatae perferendis laborum, consequatur magnam. Eius dolor minima eaque minus corporis est exercitationem doloremque quidem, cumque, tempora in? Molestias illum nihil eligendi incidunt reiciendis dolore possimus consequatur nesciunt accusantium quod laborum, non sunt nulla velit error maiores architecto voluptatibus minima vero natus. Numquam iusto culpa voluptatem porro quisquam quos blanditiis quia ad, totam aliquid magnam atque enim aliquam minima! Asperiores quaerat labore modi reprehenderit quidem officiis consequuntur minima vero odit officia, suscipit laudantium, iure laborum tempora, ea perspiciatis? Impedit obcaecati porro quos? Assumenda provident eos dolorum atque tempora corporis suscipit voluptates, pariatur minima eligendi dignissimos, delectus explicabo porro omnis saepe, unde earum voluptas! Reprehenderit commodi soluta ipsa sint omnis eius minima accusantium, adipisci cumque velit earum recusandae dignissimos vitae dolores error ratione, facere architecto alias dolorum modi tenetur ut vel hic. Iste iure facere quo alias harum sit! Ad consequuntur totam numquam nihil! Aliquid minus, expedita illo quis perspiciatis porro consequatur accusantium assumenda voluptatum cumque praesentium voluptatem aliquam unde corporis dolores harum nemo eum. Laborum dolorem animi placeat excepturi assumenda esse nobis provident, culpa est tempore cupiditate, doloremque commodi ipsa. Corporis, nemo! Illum eaque dolores blanditiis at ipsa quisquam, nam, necessitatibus harum mollitia expedita beatae ad dignissimos numquam ex maiores sapiente dolorum iusto doloremque odio natus. Explicabo sit molestias eveniet quam non, vel officiis aspernatur atque sapiente accusantium quos architecto perferendis repellendus! Laborum illum accusamus, fugit dicta repellendus reprehenderit excepturi beatae odit!
