head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="theme-color" content="#ffffff")
    meta(name="format-detection", content="telephone=no")
    meta(name="application-name", content="ThemeForest")

    title= pageTitle
    meta(name='description', content='HTML theme for marketplace')
    meta(name='keywords', content='theme, themeforest, html, css')
    meta(name='author', content='Artemiy Onuchin')

    // Mobile
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="mobile-web-app-capable", content="yes")

    // Style
    link(rel='stylesheet', href='assets/css/vendor.min.css')
    link(rel='stylesheet', href='assets/css/demo.min.css')

    // Icons
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
