.hide-on-mobile {
    display: none;

    @media (min-width: $tablet) {
        display: block;
        //  display: flex;
    }
}

.hide-on-desktop {
    display: block;
    //  display: flex;

    @media (min-width: $desktop) {
        display: none;
    }
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}
