// general rules
@import './vars';
@import './theme_rules/colors';
@import './mixin';

// typography rules
h1 {
    margin: 0 0 20px;
    font-size: 36px;
}

h2 {
    margin: 0 0 20px;
    font-size: 29px;
}

h3 {
    margin: 0 0 20px;
    font-size: 23px;
}

h4 {
    margin: 0 0 20px;
    font-size: 19px;
}

h5 {
    margin: 0 0 20px;
    font-size: 16px;
}

h6 {
    margin: 0 0 20px;
    font-size: 14px;
}
